# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
Makefile
CMakeFiles
CMakeCache.txt
cmake_install.cmake
print_name_and_age_server
run_tests
array_type_one_arg_server
basic_type_many_args_server
basic_type_one_arg_server
